*  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.contenedor {
    box-sizing: content-box;
    text-align: justify;
}

#cajitas { 
    background-color: blanchedalmond;
    padding: 20px;
    display: inline-block;
    margin: 25px;
    border: 4px solid rgb(212, 14, 14);
}

.contenedor_2{
    text-align: right;
    padding: 100px;
    
}

#cajitas_2 { 
    
    border: 3px black;
    
}

img { 
   width: 300px;
   height: 350px;
   border: 10px, dashed rgb(112, 190, 112);
}