*   {
    padding: 0;
}

h1 {
    color: rgba(204, 196, 185, 0.788);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 5rem;
}

p {
 font-weight: 100;   
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 margin-bottom: 3cqmin;
}

.estilo {
    background-color: beige;
}

.wow {
    background-color: brown;
    color: aquamarine;
}

.contenedor {
    display: inline-block;
    width: 50px;
    height: 35px;
    border: 5px;
    
    padding: 30px;
    margin: 30px;
}

#item {
    color: black;
    border: 5px;
    size: 50px;
    background-color: beige;
    border-color: black;
}

button:hover {
    background-color: pink;
}