body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 238, 233);
}

.contenedor { 
    display: flex;
    gap: 16px;
    flex-direction: row;
}

.contenedor img {
     max-width: 100%;
    height: 150px;    
    
}

.item {
    width: 150px;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    border: 5px black;
    text-align: start;
    justify-content: center;
}

#medio_picante {
    flex-direction: column-reverse;
}

.item_medio {
    width: 150px;
    flex-direction: column-reverse;
    align-items: center;
}

#el_fantasmin:hover {

    background-color: rgb(41, 63, 63);
    border: 10px rgb(59, 47, 71);
    align-self: end;
}